<div class="container">
<!--   <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p> -->
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span><br />
        <button class="btn btn-primary" ng-show="user.role=='user'" ng-click="givePermissions(user)">Give admin permissions</button>
        <button class="btn btn-danger" ng-show="user.role=='admin' && user._id!==self._id" ng-click="removePermissions(user)">Remove admin permissions</button>
        <div ng-show="user.role=='user'">
        	<button class="btn btn-warning" ng-click="showForm=!showForm" type="button">Change password</button><br />
        	<form name="form" ng-submit="changePassword(user)" ng-show="showForm" novalidate>
        		<input type="password" name="newPassword" ng-model="user.newPassword" ng-minlength="3" required />
        		<button class="btn btn-default" type="submit" ng-disabled="form.$invalid" ng-click="showForm=false">Save</button>
        	</form>
        </div>
    </li>
  </ul>

    <!-- {{user.orders}} -->
    <h2>Recent Orders</h2>
    <li class="list-group-item" ng-repeat="order in orders | orderBy : 'date' : true | limitTo: 10">
        <h3>Status: {{order.status}}</h3> 
        <h4>Date Ordered: {{order.date | date}}</h4>
        <div class='row line-item' ng-repeat='lineItem in order.lineItems'>
                <div class="col-sm-2">
                    <a href="./products/{{lineItem.item._id}}"><img class="img-responsive" ng-src="{{lineItem.image}}"></a>
                </div>
                
                <div class="col-sm-3">
                    <a href="./products/{{lineItem.productId}}"><h5>{{lineItem.productName}}</h5></a>
                </div>

                <div class="col-sm-3">  
                    <p>{{lineItem.price | currency}}</p>
                </div>

                <div class="col-sm-2">  
                    <p>{{lineItem.quantity}}</p>
                </div>

            </div>
            <div id="{{order._id}}"> <!-- ng-show="(order.status =='processing' || order.status == 'processing_guest') -->
            <button class="btn btn-warning" ng-click="cancelOrder(order)">Cancel Order</button>
            <button class="btn btn-success" ng-click="confirmOrder(order)">Confirm Order</button>
            </div>
    </li>
</div>