<div class="container">
	<!-- {{user.orders}} -->
	<h2>Orders</h2>
	 Filter by status:
	<!--<select ng-model="filterOption">
		<option value="All">All</option>
		<option value="processingOrder">Processing</option>
		<option value="completedOrder">Completed</option>
		<option value="cancelledOrder">Cancelled</option>
	</select>
	{{filterOption}} -->
	<button class="btn btn-default" ng-click="viewAll()">All</button>
	<button class="btn btn-default" ng-click="viewProcessing()">Processing</button>
	<button class="btn btn-default" ng-click="viewCompleted()">Completed</button>
	<button class="btn btn-default" ng-click="viewCancelled()">Cancelled</button>

	<div class="row" ng-repeat="order in orders | filter:filterOption"> <!-- set default option? -->
		<h3>Status: {{order.status}}</h3> <button class="btn btn-warning" ng-click="cancelOrder()">Cancel Order</button>
		<h4>Date Ordered: {{order.date | date}}</h4>
		<div class='row top-padding bottom-padding' ng-repeat='lineItem in order.lineItems'>
				<div class="col-sm-2">
					<a href="./products/{{lineItem.item._id}}"><img class="img-responsive" src="http://lorempixel.com/100/100"></a>
				</div>
				
				<div class="col-sm-3">
					<a href="./products/{{lineItem.productId}}"><h5>{{lineItem.productName}}</h5></a>
				</div>

				<div class="col-sm-3">	
					<p>{{lineItem.price | currency}}</p>
				</div>

				<div class="col-sm-2">	
					<p>{{lineItem.quantity}}</p>
				</div>

			</div>
	</div>
</div>