.home-search-bar {
	height: 60px;
	margin-top: 30px;
}

.btn-search {
	background-color: blue;
	color: white;
}

.search-bar {
	width: 80%;
}

.search-bar-translucent {
	background-color: rgba(255, 255, 255, 0.5);
	color: $black-gray;
}

::-webkit-input-placeholder {
   color: $dk-gray !important;
}

.search-bar-translucent:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

.search-bar-translucent:-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

.search-bar-translucent:-ms-input-placeholder {  
   color: red;  
}