<header>
	<div class="container">
		<div class="row home-search-bar">
	   <div class="input-group col-lg-6 col-xs-12 center-block">
	   		<form class="form-inline add-margin-l add-padding-l">
	   			<div class="form-group search-bar">
			      <input type="text" placeholder="Search our store" class="form-control search-bar-translucent add-padding-t add-padding-b" ng-model="query">
		      </div>
	        <a href="/products/search/{{query}}"><button class="btn btn-warning" type="submit">Search</button></a>
		    </form>
	    </div>
	  </div>
	</div>
</header>
