<div class="container">
	<!-- {{user.orders}} -->
	<h2>Past Orders</h2>
	<div class="row" ng-repeat="order in orders">
		<h3>Status: {{order.status}}</h3> <button class="btn btn-warning" ng-click="cancelOrder()">Cancel Order</button>
		<h4>Date Ordered: {{order.date | date}}</h4>
		<div class='row line-item' ng-repeat='lineItem in order.lineItems'>
				<div class="col-sm-2">
					<a href="./products/{{lineItem.item._id}}"><img class="img-responsive" ng-src="{{lineItem.image}}"></a>
				</div>
				
				<div class="col-sm-3">
					<a href="./products/{{lineItem.productId}}"><h5>{{lineItem.productName}}</h5></a>
				</div>

				<div class="col-sm-3">	
					<p>{{lineItem.price | currency}}</p>
				</div>

				<div class="col-sm-2">	
					<p>{{lineItem.quantity}}</p>
				</div>

			</div>
</div>a