<div class="container">
	<div class="row">

		<div class="col-lg-6">
			<h2>Your Account</h2>
			<h3>Name: {{user.name}}</h3>
			<h3 class="profile-h3">Email: {{user.email}}</h3><button class="btn btn-default">Change email address</button><br>
			<h3 class="profile-h3">Password: **********</h3><button class="btn btn-default"><a href="/settings">Change password</a></button>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<h3>Your Most Recent Order</h3>
			<div ng-repeat="products in user.orders[0].products">
				{{product.image[0]}}
				{{product.name}}
				{{product.price}}
			</div>
			<a class="btn btn-default" href="profile/orders">View your complete order history</a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<h3>Your Most Recent Review</h3>
			<!-- I AM SUCH A HACK I'M SO SORRY -->
			<div ng-repeat="review in user.reviews | orderBy:'date':true | limitTo:1">
				<h5>{{review.title}}</h5>
				<strong>{{review.date | date}}</strong>
				<div>{{review.body}}</div>
			</div>
			<a class="btn btn-default" href="profile/reviews">View all your reviews</a>
		</div>
	</div>
</div>
