<div class="container">

<div ng-show="successBanner" class="row add-padding-l add-padding-r">
	<div class="item-added-banner col-lg-12 bg-success">
		<p class="text-success" ng-bind-html="message"></p>
	</div>
</div>
<div ng-show="warningBanner" class="row add-padding-l add-padding-r">
	<div class="item-added-banner col-lg-12 bg-danger">
		<p class="text-danger" ng-bind-html="message"></p>
	</div>
</div>
<div class="row rm-margin-l rm-margin-r page-header">
  <div class="col-lg-10 col-m-8 col-sm-8 rm-padding-l">
    <h2>Cart</h2>
  </div>
</div>
	<div ng-hide="populatedCart.lineItems.length" class="add-padding-t">
		<h4 class="pull-left">Your cart is empty! Fill 'er up... &nbsp; &nbsp;</h4>
		<a href="./products"><button class="btn btn-primary btn-lg">View Products</button></a>
	</div>
	<div ng-show="populatedCart.lineItems.length" class="row add-padding-l add-padding-r"> 

		<div class="col-lg-7">
			<div class="row">

				<div class="col-sm-2">
					<h4></h4>
				</div>
				<div class="col-sm-4">
					<h4> Item </h4>
				</div>
				<div class="col-sm-3">
					<h4> Price </h4>
				</div>
				<div class="col-sm-3">
					<h4> Qty </h4>
				</div>
			</div>

			<div class='row line-item' ng-repeat='lineItem in populatedCart.lineItems'>
				<div class="col-sm-2 rm-padding-l">
					<a href="./products/{{lineItem.item._id}}"><img class="img-responsive" ng-src="{{lineItem.item.images[0]}}"></a>
				</div>
				
				<div class="col-sm-4">
					<a href="./products/{{lineItem.item._id}}"><h4>{{lineItem.item.name}}</h4></a>
					<p>{{lineItem.item.description.blurb}}</p>
				</div>

				<div class="col-sm-3">	
					<h4 class="">{{lineItem.item.price | currency}}</h4>
				</div>

				<div class="col-sm-3">	
					<form>
						<input type="number" class="form-control add-margin-b" ng-init='quantity=lineItem.quantity' ng-model='quantity' min='0'>
						<button class="btn btn-default btn-xs" ng-click="editCart(lineItem.item._id, quantity)">Update</button> 
						<button class="btn btn-danger btn-xs" ng-click="editCart(lineItem.item._id, 0)">Delete</button>
					</form>
				</div>


			</div>

		</div>

		<div class="col-lg-1">
		</div>

		<div class="col-lg-4 gray-box">
			<h4 class="add-padding-b">Total: {{cartTotal | currency}}</h4>
			<a href='/checkout'><button class="btn btn-success">Proceed to Checkout</button></a>
		</div>	

	</div>

</div>
