

<div class="container">
	<div class="row">
		<h2>Checkout</h2>
		<!-- {{order.lineItems}} -->
		<div class="col-lg-6">
			<div class="row">

				<div class="col-sm-2">
					<h4> Image </h4>
				</div>
				<div class="col-sm-5">
					<h4> Description </h4>
				</div>
				<div class="col-sm-3">
					<h4> Price </h4>
				</div>
				<div class="col-sm-2">
					<h4> Qty </h4>
				</div>
			</div>
			<div class='row top-padding bottom-padding' ng-repeat="lineItem in order.lineItems">

				<div class="col-sm-2">
					<a href="./products/{{lineItem.item._id}}"><img class="img-responsive" src="http://lorempixel.com/500/500"></a>
				</div>
				
				<div class="col-sm-5">
					<a href="./products/{{lineItem.item._id}}"><p>{{lineItem.item.name}}</p></a>
					<p>{{lineItem.item.description.blurb}}</p>
				</div>

				<div class="col-sm-3">	
					<p>{{lineItem.item.price | currency}}</p>
				</div>

				<div class="col-sm-2">	
					<p>{{lineItem.quantity}}</p>
				</div>
				
			</div>
			<div class="pull-right">
				<h4>Total: {{order.total | currency}}</h4>
			</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<h4>Billing Info</h4>
			<div ng-show="errorMessage">
					{{errorMessage}}
				</div>
			<form class="form-group" name="checkoutForm" ng-submit="checkout()">
				<label>Email</label>
				<input class="form-control" type="email" ng-model="order.billing.email" name="email" ng-required="true">
				<label>Credit Card Number</label>
				<input class="form-control" type="text" ng-required="true" ng-model="ccinfo.number" required>
				<label>CVC</label>
				<input class="form-control" type="text" ng-required="true" ng-model="ccinfo.cvc" required>
				<label>Expiration Date</label>
				<input type="text" ng-model="ccinfo.exp_month" required>
				<input type="text" ng-model="ccinfo.exp_year" required>

			<div class="form-group">
				<h4>Shipping Info</h4>
				<label>Name</label>
				<input type="text" class="form-control" name="name" ng-model="order.shipping.name" ng-required="true">
				<label>Address</label>
				<input type="text" class="form-control" name="address" ng-model="order.shipping.address" ng-required="true">
				<div class="col-lg-3">
					<label>City</label>
					<input type="text" name="city" class="form-control" ng-model="order.shipping.city" ng-required="true">
					<label>State</label>
					<states></states>
					<label>Zip</label>
					<input type="text" name="zipcode" class="form-control" maxlength="5" ng-model="order.shipping.zip" ng-required="true">
				</div>

			</div>
			<div class="row">
				<button type="submit" class="btn btn-success" ng-disabled="checkoutForm.$invalid">Submit Order</button>
			</div>
			</form>
		</div>
	</div>
</div>
