<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h3>Reviews</h3>
				<div class="panel panel-default" ng-repeat="review in reviews | orderBy:'date':true">
					<h4>Review for {{review.productId.name}}:</h4>
					<h5>{{review.date | date}}</h5>
					<span ng-repeat='stars in maxStars | limitTo:review.stars'>
						<span class="glyphicon glyphicon-star star-color"></span>
					</span>
					<span ng-repeat='stars in maxStars | limitTo:5-review.stars'>
						<span class="glyphicon glyphicon-star"></span>
					</span>
					<h5>{{review.title}}</h5>
					<p>{{review.body}}</p>
				</div>
		</div>
	</div>
</div>