<div class="container">

	<div ng-show="successBanner" class="row add-padding-l add-padding-r">
		<div class="item-added-banner col-lg-12 bg-success">
			<p class="text-success" ng-bind-html="message"></p>
		</div>
	</div>
	<div ng-show="warningBanner" class="row add-padding-l add-padding-r">
		<div class="item-added-banner col-lg-12 bg-danger">
			<p class="text-danger" ng-bind-html="message"></p>
		</div>
	</div>
	<div class="row rm-margin-r">
		<div class="col-lg-4 col-md-6 col-sm-6">
			<img class="img-responsive" ng-src="{{product.images[0]}}">
		</div>
		<div class="col-lg-6 col-md-4 col-sm-6">
			<div ng-show="isAdmin()">
				<a href="/products/{{product._id}}/edit"><button class="btn btn-warning">Edit product page</button></a>
			</div>
			<h2>{{product.name}}</h2>
			<h3>{{product.price | currency}}</h3>
			<p><em>Quantity available: {{product.quantity}} minutes</em></p>
			<p>{{product.description.full}}</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 add-margin-t add-padding-t">
			<form name="form">
				<div class="form-group">
					<input ng-model="quantity" class="" type="number" min='1'> minute(s)
				</div>
				<button class="btn btn-success" ng-click="addToCart(product._id, quantity)">Add To Cart</button>
			</form>
		</div>	
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h3>Reviews</h3>
				<button class="btn btn-default" ng-show="user._id && !reviewSubmitted" ng-click="showForm=!showForm">Review this product</button>
				<span class="bg-success" ng-show="reviewSubmitted">Your review has been successfully submitted.</span>
				<form class="review-form" ng-submit="postReview()" ng-show="showForm">
					<label>Stars (required)</label>
						<span ng-repeat='star in starClasses track by $index'>
							<span class="glyphicon glyphicon-star" ng-class="star" ng-click="setStars($index+1)"></span>
						</span>
					<label>Title</label>
					<input type="text" class="form-control" ng-model="newReview.title" />
					<label>Review (at least 20 characters)</label>
					<textarea class="form-control" ng-model="newReview.body"></textarea>
					<input type="submit" ng-disabled="newReview.stars<1 || newReview.body.length<20" ng-click="showForm=false" class="btn btn-default" />
				</form>
				<div ng-repeat="review in reviews | orderBy:'date':true">
					<h5>{{review.date | date}}</h5>
					<span ng-repeat='stars in maxStars | limitTo:review.stars'>
						<span class="glyphicon glyphicon-star star-color"></span>
					</span>
					<span ng-repeat='stars in maxStars | limitTo:5-review.stars'>
						<span class="glyphicon glyphicon-star"></span>
					</span>
					<h5>{{review.title}}</h5>
					<p>{{review.body}}</p>
				</div>
		</div>
	</div>

</div>
