.star-color {
	color: #FCDC3B;
}

.review-form {
	margin: 10px 0 0 50px;
	padding-bottom: 10px;
}

label {
	display: block;
}

.glyphicon-star {
	cursor: pointer;

.item-added-banner {
	width: 100%;
	height: 50px;
	padding: 15px;
	margin: 0 0 15px 0;
}

.fit-child-to-page-width {
	padding: 0 15px 0 15px;
}